{% extends "panel.html" %}
{% block panel_citas %}
 <div class="tab-pane fade show active" id="citas" role="tabpanel" aria-labelledby="citas-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscarCitasAdministradores" type="text" class="form-control" placeholder="BUSCAR POR APELLIDOS...">
        </div>
        <div class="col-2">
          <select class="form-control text-white bg-dark manita" id="pnlBuscarSeleccionCitas">
            {% for tipo in tipo_citas %}
            <option value="{% print(tipo[2]) %}">{% print(tipo[3]) %}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO CITAS</h6>
      <hr>
      <div class="overflow-auto">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ESTADO</th>
              <th scope="col">MEDICO</th>
              <th scope="col">PACIENTE</th>
              <th scope="col">FECHA Y HORA</th>
              <th scope="col">DETALLES</th>
              <th scope="col">¿ACEPTAR?</th>
            </tr>
          </thead>
          <tbody id="tblCitasAdministradores">
            {% for datos in listado_citas %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{% print(datos[1]) %}</td>
                <td>{% print(datos[2]) %}</td>
                <td>{% print(datos[3]) %}</td>
                <td>{% print(datos[4]) %}</td>
                <td><i id="" idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i></td>
                <td>
                  {% if datos[1] == "CANCELADA" %}
                  {% elif datos[1] == "ASIGNADA" %}
                  {% elif datos[1] == "PENDIENTE" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-question-square-fill close manita float-left aceptarCita" aria-label="Close"></i>
                  {% elif datos[1] == "FINALIZADA" %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block panel_medicos %}
<div class="tab-pane fade" id="medicos" role="tabpanel" aria-labelledby="medicos-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscar" name="pnlBuscar" type="text" class="form-control" placeholder="BUSCAR MEDICOS...">
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO MEDICOS</h6>
      <hr>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">NOMBRES</th>
              <th scope="col">CEDULA</th>
              <th scope="col">CITAS ASIGNADAS</th>
              <th scope="col">DETALLES</th>
              <th scope="col">EDITAR</th>
              <th scope="col">BLOQUEAR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>JUANCHO POLO GRACIAS</td>
              <td>12/12/2020</td>
              <td>12:00 PM</td>
              <td><i class="bi bi-eye-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left" aria-label="Close"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block panel_pacientes %}
<div class="tab-pane fade" id="pacientes" role="tabpanel" aria-labelledby="pacientes-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscar" name="pnlBuscar" type="text" class="form-control" placeholder="BUSCAR PACIENTES...">
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO PACIENTES</h6>
      <hr>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">NOMBRES</th>
              <th scope="col">CEDULA</th>
              <th scope="col">CITAS ASIGNADAS</th>
              <th scope="col">DETALLES</th>
              <th scope="col">EDITAR</th>
              <th scope="col">BLOQUEAR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>JUANCHO POLO GRACIAS</td>
              <td>12/12/2020</td>
              <td>12:00 PM</td>
              <td><i class="bi bi-eye-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left" aria-label="Close"></i></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td><i class="bi bi-eye-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left" aria-label="Close"></i></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td><i class="bi bi-eye-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left" aria-label="Close"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="../static/js/bodyAdministradores.js"></script>
{% endblock %}