<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block titulo %}{% endblock %} | HOSPITAL</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/moment.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
	<script type="text/javascript" src="../static/js/general.js"></script>
</head>
<body>
<!--HEAD -->
<nav id="head" class="navbar navbar-expand-lg navbar-dark bg-primary">
	<button type="button" class="btn btn-light">HOSPITAL SIMON BOLIVAR</button>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"></li>
				<div class="btn-group" role="group" aria-label="Basic example">
					{% block navegacion %}
					{% endblock %}
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			{% with messages = get_flashed_messages(category_filter=["botonesDeSesion"]) %}
				{% if messages %}
					{% for message in messages %}
						{{ message }} 
					{% endfor %} 
				{% endif %}
			{% endwith %}
		</form>
	</div>
</nav> 
	<button id="welcome" type="button" class="btn btn-secondary btn-sm">
		{% with messages = get_flashed_messages(category_filter=["botonBienvenido"]) %}
				{% if messages %}
					{% for message in messages %}
						{{ message }} 
					{% endfor %} 
				{% endif %}
			{% endwith %}
	</button>
	<div id="contenido">
			{% block contenido %}
			
			{% endblock %}
	</div>

<!-- Modal -->
<div class="modal fade" id="modalQuienes" tabindex="-1" aria-labelledby="modalQuienes" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header modalHead">
			<h5 class="modal-title" id="modalQuienes">¿Quiénes Somos?</h5>
            <i class="bi bi-x-circle-fill close manita" data-dismiss="modal" aria-label="Close"></i>
			</div>
			<div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <dl>
                                <dt><h2 class="text-center"><span class="bd-content-title">Sobre Nosotros</span></h2></dt>
                                <dd>
                                    <br>
                                    <p>El hospital Simón Bolívar nace de la necesidad y el sentir de mejorar la calidad de vida y la salud de los habitantes de la ciudad de Barranquilla.
                                    Para lograr tal objetivo buscamos el apoyo del sector privado y público para financiar este maravilloso proyecto.</p>
                                    <p>En el año 2000 se dio la apertura en la ciudad de Barranquilla ofreciendo servicios en medicina general y especialidades como pediatría, cardiología, medicina interna y neumología.
                                    Hoy en día le ofrecemos a la ciudad la mayoría de las especialidades que se requieren de acuerdo con estudios de caracterización.</p>
                                    <p>Nos encontramos en una excelente zona de la ciudad (localidad norte centro histórico del distrito de Barranquilla, Cra 46 # 80-32) y con amplia variedad de rutas y vías para llegar a el. </p>
                                    <br>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center"><span class="bd-content-title">Consejo Directivo</span></h2>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="rounded mx-auto d-block img-thumbnail" alt="Director" src="https://thumbs.dreamstime.com/z/avatar-del-terapeuta-icono-web-doctor-103706622.jpg" />
                            <dl>
                                <dt><strong><span>Doctor Edwin Montes</span></strong></dt>
                                <dd>
                                    <span>Director general</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="rounded mx-auto d-block img-thumbnail" alt="Gerente" src="https://thumbs.dreamstime.com/z/avatar-del-médico-de-la-cabeza-icono-web-doctor-103706729.jpg" />
                            <dl>
                                <dt><strong><span>Doctor Beiman Arboleda</span></strong></dt>
                                <dd>
                                    <span>Gerente</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="rounded mx-auto d-block img-thumbnail" alt="RRHH" src="https://thumbs.dreamstime.com/z/doctor-web-icon-nurse-medical-avatar-flat-style-illustration-doctor-web-icon-nurse-avatar-103706751.jpg" />
                            <dl>
                                <dt><strong><span>Doctora María Matos</span></strong></dt>
                                <dd>
                                    <span>RRHH</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="rounded mx-auto d-block img-fluid" alt="Doctores" src="https://thumbs.dreamstime.com/z/medical-staff-cartoon-characters-vector-flat-illustration-set-doctors-isolated-white-background-medical-team-cute-people-116632687.jpg" />
                        </div>
                        <div class="col-md-8">
                            <dl>
                                <dt>
                                    Misión
                                </dt>
                                <dd>
                                    Para el año 2025 el Hospital Simón Bolívar será una entidad de salud líder a nivel local, regional y nacional que brinda un excelente e integro servicio a toda la población en Colombia teniendo sedes en las ciudades capitales del país.
                                </dd>
                                <dt>
                                    Visión
                                </dt>
                                <dd>
                                    Somos un hospital con vocación, amor y ética profesional que brinda un servicio de calidad en salud a todos los estratos sociales de la ciudad de barranquilla. 
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer modalFoot" align="center">
                <button type="button" class="btn btn-verde" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript" src="../static/js/foot.js"></script>
</body>
</html>