{% extends "base.html" %}
{% block titulo %}CONTACTOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-secondary active">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
<div>
	<div>
		<div>
 
			<div class="modal-header modalHead">Si necesita ponerse en contacto con nosotros... </div>
			
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.520630017838!2d-74.81675038569138!3d10.999510058045237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d0813795701%3A0x2aaa08e7053f816!2sCra.%2046%20%2380-32%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1635385281584!5m2!1ses!2sco" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
						<div class="col-md">
							<div class="row bd-highlight">
                <div class="col-md-12">
                  <h3>Contactos del Hospital Simon Bolivar, Barranquilla Atlantico</h3>
                  <br>
                  <dl>
                    <dt><p> Dirección </p></dt>
                    <dd><p><i class="bi bi-geo-alt-fill"></i> Cra 46 # 80-32 </p></dd>
                    <dt><p> Teléfonos </p></dt>
                    <dd><p><i class="bi bi-telephone-fill"></i> 6014567845--304627650 </p></dd>
                    <dt><p> Correo electronico </p></dt>
                    <dd><p><i class="bi bi-envelope-fill"></i> hospitalsimonbolivar@gmail.com </p></dd>
                    <dt><p> Redes sociales </p></dt>
                    <dd><p><i class="bi bi-facebook"></i> hospitalsimonbolivar.baq </p></dd>
                    <dd><p><i class="bi bi-instagram"></i> hospitalsimonbolivar.baq </p></dd>
                    <dd><p><i class="bi bi-twitter"></i> hospitalsimonbolivar.baq </p></dd>
                  </dl>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
{% endblock %}
