{% extends "base.html" %}
{% block titulo %}CONTACTOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  <a href="/panel"><button type="button" class="btn btn-light">PANEL</button></a>
  <a href="/contactos"><button type="button" class="btn btn-secondary active">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
	<div>
		PRUEBA 2
	</div>

  git config --global user.email "jaimepolo75@gmail.com"
  git config --global user.name "jaispolpe"
{% endblock %}