{% extends "base.html" %}
{% block titulo %}CONTACTOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-secondary active">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
	<div>
    
	<h3 class="p-3 mb-2 bg-gradient-warning text-primary">Contactos del Hospital Simon Bolivar, Barranquilla Atlantico</p>
    <p> Teléfonos </p>
    <p> 6014567845--304627650 </p>
    <p> Correo electronico </p>
    <p> hospitalsimonbolivar@gmail.com </p>
    <h3>PRUEBA CAMBIOS</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5552.353156283039!2d-75.34533542839097!3d10.252988394698066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1634169872501!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
{% endblock %}
