{% extends "panel.html" %}
{% block panel_citas %}
 <div class="tab-pane fade show active" id="citas" role="tabpanel" aria-labelledby="citas-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscarCitasMedicos" type="text" class="form-control" placeholder="BUSCAR CITAS POR APELLIDOS DEL PACIENTE...">
        </div>
        <div class="col-2">
          <select class="form-control text-white bg-dark manita" id="pnlBuscarSeleccion">
           {% for tipo in tipo_citas %}
            <option value="{% print(tipo[2]) %}">{% print(tipo[3]) %}</option>
           {% endfor %}
          </select>
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO CITAS</h6>
      <hr>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ESTADO</th>
              <th scope="col">PACIENTE</th>
              <th scope="col">FECHA Y HORA</th>
              <th scope="col">DETALLES</th>
              <th scope="col">¿ACEPTAR?</th>
              <th scope="col">ATENDER</th>
              <th scope="col">COMENTAR</th>
            </tr>
          </thead>
          <tbody id="tblCitasMedicos">
            {% for datos in listado_citas %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{% print(datos[1]) %}</td>
                <td>{% print(datos[2]) %}</td>
                <td>{% print(datos[3]) %}</td>
                <td>
                  {% if datos[1] == "CANCELADA" %}  
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i>
                  {% elif datos[1] == "ASIGNADA" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i>
                  {% elif datos[1] == "PENDIENTE" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i>
                  {% elif datos[1] == "FINALIZADA" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i>
                  {% endif %}
                </td>
                <td>
                  {% if datos[1] == "CANCELADA" %}
                  {% elif datos[1] == "ASIGNADA" %}
                  {% elif datos[1] == "PENDIENTE" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-question-square-fill close manita float-left aceptarCita" aria-label="Close"></i>
                  {% elif datos[1] == "FINALIZADA" %}
                  {% endif %}
                </td>
                <td>
                  {% if datos[1] == "CANCELADA" %}
                  {% elif datos[1] == "ASIGNADA" %}
                    <i id="" idCita="{% print(datos[0]) %}" name="{% print(datos[2]) %}" class="bi bi-arrow-up-right-square-fill close manita float-left atenderCita" aria-label="Close"></i>
                  {% elif datos[1] == "PENDIENTE" %}
                  {% elif datos[1] == "FINALIZADA" %}
                  {% endif %}
                </td>
                <td>
                  {% if datos[1] == "CANCELADA" %}
                  {% elif datos[1] == "ASIGNADA" %}
                  {% elif datos[1] == "PENDIENTE" %}
                  {% elif datos[1] == "FINALIZADA" %}
                    <i id="" idCita="{% print(datos[0]) %}" class="bi bi-chat-square-text-fill close manita float-left comentarCita" aria-label="Close"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../static/js/bodyMedicos.js"></script>
{% endblock %}