{% extends "panel.html" %}
{% block panel_citas %}
 <div class="tab-pane fade show active" id="citas" role="tabpanel" aria-labelledby="citas-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscar" name="pnlBuscar" type="text" class="form-control" placeholder="BUSCAR CITAS...">
        </div>
        <div class="col-2">
          <select class="form-control text-white bg-dark manita" id="exampleFormControlSelect1">
         <option>Estado</option>
         <option>Medicos</option>
         <option>Fecha</option>
        </select>
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO CITAS</h6>
      <hr>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">MEDICO</th>
              <th scope="col">FECHA</th>
              <th scope="col">ESTADO</th>
              <th scope="col">DETALLES</th>
              <th scope="col">EDITAR</th>
              <th scope="col">CANCELAR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>JUANCHO POLO GRACIAS</td>
              <td>12/12/2020</td>
              <td><span>ASIGNADA</span></td>
              <td><i class="bi bi-eye-fill close manita float-left detalles" data-toggle="modal" data-target="#modalDetallesCita" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left editar" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left cancelar" data-toggle="modal" data-target="#modalCancelarCita" aria-label="Close"></i></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>JAIME POLO</td>
              <td>12/12/2020</td>
              <td><span>POR ACEPTAR</span></td>
              <td><i class="bi bi-eye-fill close manita float-left detalles" data-toggle="modal" data-target="#modalDetallesCita" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close manita float-left editar" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left cancelar" data-toggle="modal" data-target="#modalCancelarCita" aria-label="Close"></i></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>JUANCHO POLO GRACIAS</td>
              <td>12/12/2020</td>
              <td><span>TERMINADA</span></td>
              <td><i class="bi bi-eye-fill close manita float-left detalles" data-toggle="modal" data-target="#modalDetallesCita" aria-label="Close"></i></td>
              <td><i class="bi bi-pencil-fill close float-left" aria-label="Close"></i></td>
              <td><i class="bi bi-x-square-fill close manita float-left cancelar" data-toggle="modal" data-target="#modalCancelarCita" aria-label="Close"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button id="pnlSolicitar" type="button" class="btn btn-verde btn-lg" data-toggle="modal" data-target="#modalSolicitarCita">SOLICITAR CITA</button>
{% endblock %}