{% extends "panel.html" %}
{% block panel_citas %}
 <div class="tab-pane fade show active" id="citas" role="tabpanel" aria-labelledby="citas-tab">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <input id="pnlBuscarCitasPacientes" type="text" class="form-control" placeholder="BUSCAR CITAS POR APELLIDOS DEL MEDICO...">
        </div>
        <div class="col-2">
         <select class="form-control text-white bg-dark manita" id="pnlBuscarSeleccion">
          {% for tipo in tipo_citas %}
          <option value="{% print(tipo[2]) %}">{% print(tipo[3]) %}</option>
          {% endfor %}
        </select>
        </div>
        <div class="col-2 ">
          <i class="bi bi-search close manita float-left" aria-label="Close"></i>
        </div>
      </div>
      <hr>
      <h6>LISTADO CITAS</h6>
      <hr>
      <div class="overflow-auto">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ESTADO</th>
              <th scope="col">MEDICO</th>
              <th scope="col">FECHA Y HORA</th>
              <th scope="col">DETALLES</th>
              <th scope="col">CANCELAR</th>
              <th scope="col">CALIFICAR</th>
            </tr>
          </thead>
          <tbody id="tblCitasPacintes">
            {% for datos in listado_citas %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{% print(datos[1]) %}</td>
                <td>{% print(datos[2]) %}</td>
                <td>{% print(datos[3]) %}</td>
                <td><i idCita="{% print(datos[0]) %}" class="bi bi-eye-fill close manita float-left detallesCita" aria-label="Close"></i></td>
                <td>
                  {% if datos[1] == "ASIGNADA" %}
                    <i idCita="{% print(datos[0]) %}" class="bi bi-x-square-fill close manita float-left cancelarCita" data-toggle="modal" data-target="#modalCancelarCita" aria-label="Close"></i>
                  {% elif datos[1] == "PENDIENTE" %}
                    <i idCita="{% print(datos[0]) %}" class="bi bi-x-square-fill close manita float-left cancelarCita" data-toggle="modal" data-target="#modalCancelarCita" aria-label="Close"></i>
                  {% endif %}
                </td>
                <td>
                  {% if datos[1] == "FINALIZADA" %}
                    <i idCita="{% print(datos[0]) %}" class="bi bi-chat-square-text-fill close manita float-left comentarCita" data-toggle="modal" data-target="#modalComentarCita" aria-label="Close"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button id="pnlSolicitarCita" type="button" class="btn btn-verde btn-lg">SOLICITAR CITA</button>
<script type="text/javascript" src="../static/js/bodyPacientes.js"></script>
<!-- Modal Solicitar Cita-->
<div class="modal fade" id="modalSolicitarCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalHead">
        SOLICITAR CITA<i class="bi bi-x-circle-fill close manita" data-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <form>
          <fieldset>
            <div class="form-group">
              <label for="scPaciente">Paciente</label>
              <input type="text" id="scPaciente" class="form-control" disabled value="{% for nombre in nombre %}{% print(nombre[0]) %}{% endfor %}">
            </div>
            <div class="form-group">
              <label for="scEspecialidad">Especialidad</label>
              <select class="form-control text-white bg-dark manita" id="scEspecialidad">
                
               </select>
            </div>
            <div class="form-group">
              <label for="scMedico">Médicos disponibles</label>
              <select class="form-control text-white bg-dark manita" id="scMedico" disabled>
                <option value='0'>--Seleccionar--</option>
               </select>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <input id="scFecha" name="scFecha" type="date" class="form-control" min='{% if fecha %}{% print(fecha) %}{% endif %}'>
                </div>
                <div class="col">
                  <input id="scHora" name="scHora" type="time" class="form-control">
                </div>
              </div>
              <small class="form-text text-muted">El formato de la hora es de 12 horas.</small>
            </div>
            <div class="form-group">
              <label for="scDetalles">Detalles</label>
              <textarea id="scDetalles" class="form-control" rows="2" maxlength="1050"></textarea>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer modalFoot" align="center">
        <div id="msgSolicitarCita"><script type="text/javascript" src="../static/js/mensaje.js"></script></div>
        <button id="scSolicitar" type="button" class="btn btn-verde">SOLICITAR CITA</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block detalle_cita %}<button idcita="" type="button" class="btn btn-verde cancelarCitaBoton">CANCELAR CITA</button>{% endblock %}