{% extends "base.html" %}
{% block titulo %}PANEL{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %} 
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {% with messages = get_flashed_messages(category_filter=["paneles"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
</ul>
<div class="tab-content" id="myTabContent">
  {% block panel_citas %}

  {% endblock %}
  {% block panel_medicos %}

  {% endblock %}
  {% block panel_pacientes %}

  {% endblock %}
 <script type="text/javascript" src="../static/js/bodyPanel.js"></script>
{% endblock %}