{% extends "base.html" %}
{% block titulo %}PANEL{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {% with messages = get_flashed_messages(category_filter=["paneles"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
</ul>
<div class="tab-content" id="myTabContent">
  {% block panel_citas %}

  {% endblock %}
  {% block panel_medicos %}

  {% endblock %}
  {% block panel_pacientes %}

  {% endblock %}
  <!-- Modal Detalles Cita-->
<div class="modal fade" id="modalDetallesCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modalHead">
        DETALLES CITA<i class="bi bi-x-circle-fill close manita" data-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <form>
          <fieldset disabled>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="dcPaciente">Paciente</label>
              <input type="text" id="dcPaciente" class="form-control" placeholder="Paciente">
                </div>
                <div class="col">
                  <label for="dcMedico">Médico</label>
              <input type="text" id="dcMedico" class="form-control" placeholder="Medico">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="dcFecha">Fecha</label>
                  <input type="text" id="dcFecha" class="form-control" placeholder="04/11/2021">
                </div>
                <div class="col">
                  <label for="dcHora">Hora</label>
                  <input type="text" id="dcHora" class="form-control">
                </div>
              </div>
              <small class="form-text text-muted">El formato de la hora es de 24 horas.</small>
            </div>

            <div class="form-group">
              <label for="dcDetalles">Detalles del paciente</label>
              <textarea id="dcDetalles" class="form-control" rows="2">
              </textarea>
            </div>

            <div class="form-group">
              <label for="dcHistoria">Detalles/Historia clinica</label>
              <textarea id="dcHistoria" class="form-control" rows="2">
              </textarea>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="dcComentarioPaciente">Comentario del paciente</label>
              <textarea id="dcComentarioPaciente" class="form-control" rows="2"></textarea>
                </div>
                <div class="col">
                  <label for="dcComentarioMedico">Comentario del medico</label>
              <textarea id="dcComentarioMedico" class="form-control" rows="2"></textarea>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer modalFoot" align="center">
        <div id="msgDetallesCita"><script type="text/javascript" src="../static/js/mensaje.js"></script></div>
        {% block detalle_cita %}{% endblock %}
      </div>
    </div>
  </div>
</div>
<div id="msgPanel"><script type="text/javascript" src="../static/js/mensaje.js"></script></div>
<script type="text/javascript" src="../static/js/bodyPanel.js"></script>
{% endblock %}