{% extends "base.html" %}
{% block titulo %}REGISTRO{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-light">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
  
<div class="" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modalHead">
        REGISTRO AL SISTEMA
      </div>
      <div class="modal-body">

        <div class="form-group">
         <div class="row">
         <div class="col">
          <input id="regNombres" name="regNombres" type="text" class="form-control" placeholder="Nombres" autofocus>
         </div>
         <div class="col">
          <input id="regApellidos" name="regApellidos" type="text" class="form-control" placeholder="Apellidos" required>
         </div>
        </div>
        </div>

        <div class="form-group">
        <div class="row">
         <div class="col">
          <select id="regTipoDocumento" class="form-control">
            <option value="0">--Tipo de documento--</option>
            {% for tdocs in tipo_docs %}
            <option value="{% print(tdocs[0]) %}">{% print(tdocs[2]) %}</option>
            {% endfor %}
          </select>
         </div>
         <div class="col">
          <input id="regNumeroDocumento" type="number" class="form-control" placeholder="Numero de documento" required>
         </div>
        </div>
       </div>

       <div class="form-group">
        <div class="row">
         <div class="col">
          <input id="regEmail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Correo electronico" autocomplete="off">
          <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie más.</small>
         </div>
        </div>
       </div>

       <div class="form-group">
        <div class="row">
         <div class="col">
          <input id="regTelefono" type="number" class="form-control" placeholder="Telefono">
         </div>
         <div class="col">
          <input id="regDireccion" type="text" class="form-control" placeholder="Direccion">
         </div>
        </div>
       </div>

       <div class="form-group">
        <div class="row">
         <div class="col">
          <input id="regPassword1" type="password" class="form-control" placeholder="Contraseña" aria-describedby="passwordHelp">
         </div>
         <div class="col">
          <input id="regPassword2" type="password" class="form-control" placeholder="Confirma contraseña" >
         </div>
        </div>
        <small id="passwordHelp" class="form-text text-muted">La contraseña debe tener mas de 7 caracteres.</small>
       </div>

      </div>
      <div class="modal-footer modalFoot" align="center">
       <div id="msgRegistro"><script type="text/javascript" src="../static/js/mensaje.js"></script></div>
        <button id="regRegistrar" type="" class="btn btn-verde" disabled>ENVIAR REGISTRO</button>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript" src="../static/js/bodyRegistro.js"></script>
{% endblock %}