{% extends "base.html" %}
{% block titulo %}SERVICIOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-secondary active">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
<div class="" tabindex="-1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">

			<div class="modal-header modalHead">Servicios</div>
			
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<p>El hospital Simón Bolívar ofrece sus servicios en:</p>
						</div>

						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item list-group-item-action">
									Medicina general
								</li>
								<li class="list-group-item list-group-item-action">
									Urgencias
								</li>
								<li class="list-group-item list-group-item-action">
									Exámenes de laboratorio
								</li>
								<li class="list-group-item list-group-item-action">
									Especialidades en:
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Medicina Interna</li>
										<li class="list-group-item">Pediatría</li>
										<li class="list-group-item">Cardiología</li>
										<li class="list-group-item">Neumología</li>
										<li class="list-group-item">Neurología</li>
										<li class="list-group-item">Oftalmología</li>
										<li class="list-group-item">Otorrinolaringología</li>
										<li class="list-group-item">Gastroenterología</li>
										<li class="list-group-item">Oncología</li>
										<li class="list-group-item">Dermatología</li>
										<li class="list-group-item">Ortopedia</li>
										<li class="list-group-item">Psiquiatría</li>
										<li class="list-group-item">Psicología</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
{% endblock %}