{% extends "base.html" %}
{% block titulo %}SERVICIOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  <a href="/panel"><button type="button" class="btn btn-light">PANEL</button></a>
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-secondary active">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
	<div>
		<h1>AQUI SE EDITA</h1>
	</div>
{% endblock %}