{% extends "base.html" %}
{% block titulo %}SERVICIOS{% endblock %}
{% block navegacion %}
  <a href="/inicio"><button type="button" class="btn btn-light">INICIO</button></a>
  {% with messages = get_flashed_messages(category_filter=["botonPanel"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }} 
      {% endfor %} 
    {% endif %}
  {% endwith %}
  <a href="/contactos"><button type="button" class="btn btn-light">CONTACTOS</button></a>
  <a href="/servicios"><button type="button" class="btn btn-secondary active">SERVICIOS</button></a>
{% endblock %}
{% block contenido %}
<div class="modal-body" >
  <h4>{% block titulo_form %} MIS DATOS PERSONALES {% endblock %}</h4>
            
  <hr>
      <form>
        {% if datos %}
            
       <div class="form-group">
        <div class="row">
        <div class="col">
         <label for="duNombres">Nombres</label>
   <input type="text" class="form-control" id="duNombres" value="{% print(datos[0]) %}" maxlength="150">
        </div>
        <div class="col">
         <label for="duApellidos">Apellidos</label>
   <input type="text" class="form-control" id="duApellidos" value="{% print(datos[1]) %}" maxlength="150">
        </div>
       </div>
       </div>

       <div class="form-group">
        <div class="row">
        <div class="col">
         <label>Tipo de documento</label>
   <select class="form-control" disabled>
          <option>{% print(datos[2]) %}</option>
         </select>
        </div>
        <div class="col">
         <label>Numero documento</label>
   <input type="text" class="form-control" placeholder="" disabled value="{% print(datos[3]) %}">
        </div>
       </div>
       </div>

       <div class="form-group">
        <div class="row">
        <div class="col">
         <label for="duTelefono">Telefono</label>
   <input type="text" class="form-control" id="duTelefono" value="{% print(datos[4]) %}">
        </div>
        <div class="col">
         <label for="duDireccion">Direccion</label>
   <input type="text" class="form-control" id="duDireccion" value="{% print(datos[5]) %}" maxlength="450">
        </div>
       </div>
       </div>

       <div class="form-group">
        <div class="row">
        <div class="col">
         <label for="duFechaNacimiento">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="duFechaNacimiento" min="1900-04-01" max="2025-12-12" value="{% print(datos[6]) %}">
        </div>
        <div class="col">
          <label for="duEdad">Edad</label>
          <input type="number" class="form-control" id="duEdad" value="{% print(datos[7]) %}">
         </div>
        <div class="col">
         <label for="duSexo">Sexo</label>
         <select class="form-control" id="duSexo">
          <option value="None" selected>--Seleccionar--</option>
          <option value="27">Masculino</option>
          <option value="26">Femenino</option>
         </select>
        </div>
        <script>document.ready = document.getElementById("duSexo").value = '{% print(datos[8]) %}';</script>
       </div>
       </div>
       
       <div class="form-group">
        <div class="row">
        <div class="col">
         <label>Correo electronico</label>
           <input type="text" class="form-control" value="{% print(datos[9]) %}" disabled>
        </div>        
        
        <div class="col">
         <label>&nbsp</label>
         <div><button type="button" class="btn btn-verde" data-toggle="modal" data-target="#modalModificarPassword">CAMBIA TU CONTRASEÑA</button></div>
        </div>
        <div class="col">
          <div id="msgUsuario"><script type="text/javascript" src="../static/js/mensaje.js"></script></div>
          <label>&nbsp</label>
    <div><button id="duActualizar" type="button" class="btn btn-verde">ACTUALIZAR DATOS</button></div>
         </div>
       </div>
       
       </div>

      </form>
      {% endif %}
</div>
<script type="text/javascript" src="../static/js/bodyUsuario.js"></script>
{% endblock %}